/* Estilos para la página principal */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 80px;
    margin-left: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .user-details button, header .user-details a {
    background-color: #B4A7D6;
    border: none;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-right: 155px;
}

.user-details button:hover {
    background-color: #c58ae7;
}

header .user-details button:first-of-type {
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#index-main-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin-bottom: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-left: 10%;
    height: auto; /* Ajusta la altura automáticamente al contenido */
    margin-top: 15%;
    margin-right: 10%;
}



main section {
    flex: 1;
    margin: 40px;
}

main section h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

main section p {
    font-size: 23px;
    line-height: 1.5;
}



#index-main-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;
}

footer {
    background-color: #B4A7D6;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para la página de error iniciar sesion */
.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 15px;
    float: left;
    box-shadow: 0 0 10px #B4A7D6;
}

.sidebar img {
    width: 100px;
    display: block;
    margin: 0 auto 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    background-color: #9500ff;
    border-radius: 10px;
    text-align: right;
}

.sidebar ul li a:hover {
    background-color: #b8a1c9;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #B4A7D6;
    color: white;
    border: none;
    cursor: pointer;
    text-align: right;
}

form button:hover {
    background-color: #B4A7D6;
}

footer {
    background-color: #B4A7D6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section {
    margin-bottom: 20px;
}

a {
    color: #B4A7D6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-group button {
    padding: 10px 20px;
    background-color: #D3BCE3;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #b8a1c9;
}

.confirm-box {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header img {
        margin-left: 0;
    }

    header .user-details {
        margin-top: 10px;
    }

    #index-main-section {
        padding: 80px 20px;
        flex-direction: column;
    }

    main section h2 {
        flex: 1 1 100%;
        margin-right: 0;
        margin-top: 20%;
    }

    main section {
        flex: 1 1 100%;
        margin-right: 0;
    }

    #index-main-image img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header .user-details button {
        margin-right: 10px;
    }

    #index-main-section {
        padding: 60px 10px;
    }

    main section p {
        font-size: 16px;
    }
}
